.app-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  /* scroll-snap-type: y mandatory; */
}

.app-container > .h-screen {
  scroll-snap-align: start;
  position: relative;
}
